@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

$font_family : 'Roboto', sans-serif;
$font_size : 16px;
$second_color : #202C33;
$primary_color : #111B21

